<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitallibrarylessonplan2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CourseActivity"></activity>
        <activity android:name=".Student_Books_Activity" />
        <activity android:name=".Add_Book_Activity" />
        <activity android:name=".Teacher_Lesson_Plan" />
        <activity android:name=".Student_Related_Book" />
        <activity android:name=".Student_Lesson_Plan" />
        <activity android:name=".Student_Download_Book_Activity" />
        <activity android:name=".Student_Courses_Activity" />
        <activity android:name=".Teacher_Activity" />
        <activity android:name=".Student_Related_Book_Activity" />
        <activity android:name=".Student_History_Activity" />
        <activity android:name=".Student_Activity" />
        <activity android:name=".Books_Activity" />
        <activity android:name=".Add_References" />
        <activity android:name=".Teacher_Add_Lesson_Plan" />
        <activity android:name=".Teacher_Add_Book" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>